# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build maven and docker image and push to Harbor

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml
      
    - name: Log in to Docker Hub
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        registry: cr.surf.nl
        username: ${{ secrets.CR_SURF_USERNAME }}
        password: ${{ secrets.CR_SURF_PASSWORD }}

    - name: Build and push Docker image
      id: push-latest
      uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
      with:
        context: .
        file: ./inspector-vc-web/Dockerfile
        push: true
        tags: cr.surf.nl/edubadges-edubadges/edubadges/dc-public-validator:latest

    - name: Generate artifact attestation
      uses: actions/attest-build-provenance@v2
      with:
        subject-name: cr.surf.nl/edubadges-edubadges/edubadges/dc-public-validator:latest
        subject-digest: ${{ steps.push-latest.outputs.digest }}
